<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0" />
    </startup>
    <appSettings>
        <add key="JSONDataPath" value="C:\Work\JoyalTraining\Staff.Management\JSONSerialisation.json"/>
        <add key="XMLDataPath" value="C:\Work\JoyalTraining\Staff.Management\XMLSerialisation.xml"/>    
    </appSettings>
</configuration>