<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0" />
    </startup>
    <appSettings>
        <add key="JSONDataPath" value="C:\Work\JoyalTraining\Staff.Management\JSONSerialisation.json"/>
        <add key="XMLDataPath" value="C:\Work\JoyalTraining\Staff.Management\XMLSerialisation.xml"/>
        <add key="DataMode" value="XML"/> <!-- "DB" for DB | "JSON" for json | "XML" for XML-->
        <add key="SQLConnectionString" value ="Data Source=DESKTOP-1FP225I\SQLEXPRESS;Initial Catalog=StaffDatabase;Persist Security Info=True;User ID=sa;Password=!QAZ2wsx"/>
    </appSettings>
</configuration>