<p>admin works!</p>
<table>
    <th>StaffID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Salary</th>
    <th>JobType</th>
    <th>Gender</th>
    <th>Section</th>
    <tbody>
        <tr *ngFor="let staff of staffs">
            <td>{{staff.staffID}}</td>
            <td>{{staff.name}}</td>
            <td>{{staff.age}}</td>
            <td>{{staff.dailyWage}}</td>
            <td>{{staff.jobType}}</td>
            <td>{{staff.gender}}</td>
            <td>{{staff.section}}</td>
        </tr>
    </tbody>
</table>