<p>support works!</p>

<table class="staffs">
    <th id="CheckBoxColumn"> <input type="checkbox" (click)="selectAllCheckBox()">
    </th>
    <th>StaffID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Salary</th>
    <th>JobType</th>
    <th>Gender</th>
    <th>Lab</th>
    <th></th>
    <tbody>
        <tr *ngFor="let staff of staffs.slice(paginationStartIndex,paginationEndIndex)">
            <td><input id="checkBoxRow" class="checkBoxRow" type="checkbox" value={{staff.staffID}}>
            </td>
            <td>{{staff.staffID}}</td>
            <td>{{staff.name}}</td>
            <td>{{staff.age}}</td>
            <td>{{staff.dailyWage}}</td>
            <td>{{staff.jobType}}</td>
            <td>{{staff.gender}}</td>
            <td>{{staff.lab}}</td>
            <td align='center'>
                <button (click)="DeleteAStaff(staff.staffID)" class="deleteAStaff">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<app-pagination (startAndEndIndeces)="StaffPrinting($event) " title="Pagination for support " [numberOfStaffs]=staffs.length></app-pagination>