<p [textContent]="title"></p>
<!-- title in staff.component,ts -->
<table>
    <th>StaffID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Salary</th>
    <th>JobType</th>
    <th>Gender</th>
    <th>Subject</th>
    <th>Class Duty</th>
    <th>Department</th>
    <th>Section</th>
    <tbody>
        <tr *ngFor="let staff of staffs">
            <td>{{staff.staffID}}</td>
            <td>{{staff.name}}</td>
            <td>{{staff.age}}</td>
            <td>{{staff.dailyWage}}</td>
            <td>{{staff.jobType}}</td>
            <td>{{staff.gender}}</td>
            <td>{{staff.subject?staff.subject:"NA"}}</td>
            <td>{{staff.classTeacher?staff.classTeacher:"NA"}}</td>
            <td>{{staff.lab?staff.lab:"NA"}}</td>
            <td>{{staff.section?staff.section:"NA"}}</td>
        </tr>
    </tbody>
</table>